:root {
  --color-primary: #000000;
  --color-white: #ffffff;
  --color-success: #009E2D;
  --color-error: #9E0000;

  --font-large: 24px;
  --font-medium: 18px;

  --app-padding: 16px;

  --app-form-width: 600px;

  --line-height: 24px;
}

.container {
  height: 100vh;
  
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main';
}

.main {
  grid-area: main;
  padding: var(--app-padding);
}

label {
  font-size: var(--font-medium);
  color: var(--color-primary);
  display: block;
  padding-bottom: var(--app-padding);
}

input {
  font-size: var(--font-medium);
  border: 2px solid var(--color-primary);
  padding: var(--app-padding);
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--app-padding);
}

input:focus {
  outline: none ;
}

.validity-list {
  line-height: var(--line-height);
}

.validity-list:last-of-type {
  padding-bottom: calc(var(--app-padding) * 2);
}

.validity-list span {
  display: inline-block;
  padding-right: 5px;
}

.validity-list span.success {
  color: var(--color-success);
}

.validity-list span.error {
  color: var(--color-error);
}

@media screen and (min-width: 768px) {
  .main {
    justify-self: center;
    align-self: center;
  }

  .validity-list:last-of-type {
    padding-bottom: var(--app-padding);
  }
}
