:root {
  --color-primary: #000000;
  --color-white: #ffffff;
  --color-success: #009E2D;
  --color-error: #9E0000;

  --font-large: 24px;
  --font-medium: 18px;

  --app-padding: 16px;

  --app-form-width: 600px;
}

.container {
  height: 100vh;
  
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header'
    'main';
}

.main {
  grid-area: main;
  padding: var(--app-padding);
}

@media screen and (min-width: 768px) {
  .main {
    justify-self: center;
    align-self: center;
  }
}
